@model WebApplication3.ViewModels.AdminViewModel
@using System.Globalization;


@{
    ViewBag.Title = "Главная";
}
<div>
    <div class="header-home-admin">
        <div class="header-element">
            <div class="inner-header-element">
                <div class="nav-inf">
                    <div class="number color-2">
                        @Model.Order
                    </div>
                    <div class="nav-icon">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="nav-text">
                    Всего заказов
                </div>
            </div>
        </div>
        <div class="header-element between">
            <div class="inner-header-element">
                <div class="nav-inf">
                    <div class="number color-1 ">
                        @{ var culture = new CultureInfo("ru-RU");}
                        @Model.TotalProfit.ToString("#,#", culture) ₽
                    </div>
                    <div class="nav-icon">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="nav-text">
                    Всего заработано
                </div>
            </div>
        </div>
        <div class="header-element between">
            <div class="inner-header-element">
                <div class="nav-inf">
                    <div class="number color-3">
                        @Model.Order
                    </div>
                    <div class="nav-icon">
                        <i class="icon-pie-chart"></i>
                    </div>
                </div>
                <div class="nav-text">
                    Всего
                </div>
            </div>
        </div>
        <div class="header-element between">
            <div class="inner-header-element">
                <div class="nav-inf">
                    <div class="number color-4">
                        @Model.Order
                    </div>
                    <div class="nav-icon">
                        <i class="icon-pie-chart"></i>
                    </div>
                </div>
                <div class="nav-text">
                    Всего
                </div>
            </div>
        </div>
    </div>
    <div class="chart-container">
        <div class="chart-elements">
            <canvas id="chart-orders"></canvas>
        </div>
        <div class="chart-elements">
            <canvas id="chart-finance"></canvas>
        </div>
    </div>  
    <script src="~/js/site.js" asp-append-version="true"></script>

</div>

