
@{
    ViewBag.Title = "Главная";
}

<div>
    <div class="header-home-admin">
        <div class="header-element">
            asd
        </div>
        <div class="header-element">
            asd
        </div>
        <div class="header-element">
            asd
        </div>
        <div class="header-element">
            asd
        </div>
    </div>
</div>
 
