
@{
    ViewBag.Title = "Администрирование";
}

<h4><a asp-action="ViewProduct">Редактирование Продуктов</a></h4> 
<h4><a asp-area="" asp-controller="User" asp-action="Index">Администрирование пользователей</a></h4>