@using System.Security.Claims
@using WebApplication3.Infrastructure
@{
    var context = Context;
    ClaimsPrincipal currentUser = this.User;
    bool IsAdmin = currentUser.IsInRole("admin");
    bool IsSuperUser = currentUser.IsInRole("superuser");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link href="~/components/products.css" rel="stylesheet" />
    @*<link href="~/js/site.js"/>*@
</head>
<body>
    <!--Header-->
    <div class="container">
        <div class="header">
            <div class="header-section-1">
                <div class="header-item-first headerButton"><a asp-action="Index" asp-controller="Home">Главная</a></div>
                <div class="header-item headerButton"><a asp-action="Index" asp-controller="Product">Продукты</a></div>
                @if (User.Identity.IsAuthenticated && (IsAdmin || IsSuperUser))
                {
                    <div class="header-item headerButton"><a asp-action="Index" asp-controller="Admin">Администирование</a></div>
                }
                else
                {
                    <div class="header-item headerButton"><a asp-action="About" asp-controller="Home">О нас</a></div>
                    <div class="header-item headerButton"><a asp-action="Contacts" asp-controller="Home">Контакты</a></div>
                }
            </div>
            <div class="header-section-2">
                <div class="header-item headerButton">
                    <span class="cart-nav" title="Корзина">
                        <a asp-controller="Cart" asp-action="Index" sp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="header-item headerButton">
                        <a asp-action="Login" asp-controller="Account">Войти</a>
                    </div>
                    <div class="header-item-last headerButton">
                        <a asp-action="Register" asp-controller="Account">Регистрация</a>
                    </div>
                }
                else
                {
                    <div class="header-item headerButton">
                            
                            @User.Identity.Name <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        
                    </div>
                    <div class="header-item-last headerButton">
                        <a class="logout" asp-controller="Account" asp-action="Logout">Выйти</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <hr class="gr-header">

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebApplication3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*k<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>