@{ 
    ViewBag.Title = "О нас";
}

<main class="main tacenter" id="MainContent">
    <div class="pmax gp" id="top">
        <ul class="brcr" itemscope="" itemtype="http://schema.org/BreadcrumbList"></li></ul><h1 class="teaser page-title"><b>Контакты</b></h1><div class="tgp">
            <div class="contacts_block">
                <div class="col col1">
                    <b>Реквизиты:</b><div class="info">
                        ООО «Посцентр»
                        <hr>
                        7725413008
                        <i>ИНН</i>
                        772301001
                        <i>КПП</i>
                    </div>
                </div><div class="col col1">
                    <b>Часы работы:</b><div class="info">
                        c 10:00 до 19:00
                        <i>Главный офис</i>
                    </div>
                </div><div class="col col1">
                    <b>Телефоны:</b><div class="info">
                        +7 (495) 518-94-41
                        <i>Главный офис</i>
                        <hr>
                        +7 (495) 215-12-24 доб. 786, 817
                        <i>Техническая поддержка</i>
                    </div>
                </div><div class="col col1">
                    <b>Email:</b><div class="info">
                        info@poscenter.ru
                        <i>Для контактов</i>
                        <hr>
                        sales@poscenter.ru
                        <i>По вопросам заказов</i>
                        <hr>
                        support@poscenter.pro
                        <i>Техническая поддержка</i>
                    </div>
                </div>
                </div>
        </div>
    </div>
</main>