
@{
    ViewData["Title"] = "Главная";
}

<div class="logo">

</div>
<div class="populary">
    <p class="text">
        vopwke]empofmkwe]pofkowemkfpoeofkmepwkfmpwemfewf
        wefewfwefewfwefwefewefwefewfwefewfewf
        wefwefwefwefwefwefwefwefwefwefwefwefwefwefggg </p>
</div>
<p>pjfipwejfi[ejwifojweiojfi[owejiofjweoijfwefiowejoifj</p>