
@{
    ViewData["Title"] = "Главная";
}

<div class="logo">
    <img src="~/img/config-pk.png" class="logotip"/>
</div>
<div class="catalog">
        <div class="inner-catalog">
            <div class="row">
                <div class="catalog-1">
                    <div class="inner-catalog-1">
                       <h3 class="zagalovok-catalog"><i class="fa fa-desktop" aria-hidden="true"></i> Компьютеры и ноутбуки</h3> 
                    </div>
                </div>
                @*<script src="~/js/site.js">
                        
                </script>*@
                <div class="catalog-2">
                    <div class="inner-catalog-2">  
                        Catalog-2
                    </div>
                </div>
            </div>
        </div>
</div>
