@{ 
    ViewBag.Title = "Вход";
}

<div class="gr27e  ">
    <h1 class="NXVPg Szr5J  coreSpriteLoggedOutWordmark  ">Instagram</h1>
    <div class="EPjEi">
        <form class="HmktE" id="loginForm" method="post">
            <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                                                              kEKum                                                ">
                <div class="-MzZI">
                    <div class="_9GP1n   ">
                        <label class="f0n8F FATdn">
                            <span class="_9nyy2">Телефон, имя пользователя или эл. адрес</span>
                            <input aria-label="Телефон, имя пользователя или эл. адрес" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="75" name="username" type="text" class="_2hvTZ pexuQ zyHYP" value="">
                        </label>
                        <div class="i24fI"></div>
                    </div>
                </div>
                <div class="-MzZI">
                    <div class="_9GP1n   ">
                        <label class="f0n8F FATdn">
                            <span class="_9nyy2">Пароль</span>
                            <input aria-label="Пароль" aria-required="true" autocapitalize="off" autocorrect="off" name="password" type="password" class="_2hvTZ pexuQ zyHYP" value="">
                        </label>
                        <div class="i24fI">
                            <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                      soMvl                                                                                        ">
                                <button class="sqdOP yWX7d     _8A5w5    " type="button">Показать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    ">
                    <button class="sqdOP  L3NKy   y3zKF     " type="submit">
                        <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              ">Войти</div>
                    </button>
                </div>
                <div class="K-1uj Z7p_S">
                    <div class="s311c"></div>
                    <div class="_0tv-g">или</div>
                    <div class="s311c"></div>
                </div>
                <div class="            qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    ">
                    <button class="sqdOP yWX7d    y3zKF     " type="button"><span class=" coreSpriteFacebookIcon AeB99"></span><span class="KPnG0">Войти через Facebook</span></button>
                </div>
            </div><a class="_2Lks6" href="/accounts/password/reset/" tabindex="0">Забыли пароль?</a>
        </form>
    </div>
</div>