@*<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Интернет-Магазин</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1 navigation">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Продукты</a>
                    </li>
                    @if (!(IsAdmin || IsSuperUser))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">О нас</a>
                        </li>
                        <li class="nav-item user-nav">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (IsAdmin || IsSuperUser)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Index"> Пользователи  </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Order" asp-action="List"> Заказы </a>
                            </li>
                            <li class="nav-item bet-admin">
                                <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index"> Администрирование </a>
                            </li>
                        }
                    }

                    @if (User.Identity.IsAuthenticated)
                    { 
                        <li class="nav-item">
                            <a class="nav-link" title="Корзина" asp-controller="Cart" asp-action="Index" sp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">   
                            <a class="nav-link" asp-controller="Account" asp-action="Profile" asp-route-id="@User.Identity.Name">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <span class="logout"><a class="nav-link-admin logout" asp-controller="Account" asp-action="Logout"> Выход </a></span>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" title="Корзина" asp-controller="Cart" asp-action="Index" sp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
                                <i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register"> Регистрация </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>*@