@model IEnumerable<WebApplication3.Models.Blog>
@{
    ViewBag.Title = "Блог";
    
}

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="CreatePost" asp-controller="BlogController"> Создать пост </a>
}

@foreach (var item in Model)
{
<div>
    @item.Id
    @item.Name
    @item.TextBlog
</div>
 <td></td>   
}