@model WebApplication3.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<h3>Изменение пароля для пользователя @Model.Name</h3>
<form asp-action="ChangePassword" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordConfirm" class="control-label">Подтвердите пароль</label>
        <input type="password" asp-for="NewPasswordConfirm" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-dark" />
    </div>
</form>