@model WebApplication3.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h3>Изменение пароля для пользователя @Model.Name</h3>
<form asp-action="Edit" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Login</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Год рождения</label><br />
        <input type="number" asp-for="Year" class="yearUser" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>