@model WebApplication3.ViewModels.CreateProductViewModel
@{
    ViewBag.Title = "Добавление продуктов";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<form asp-action="CreateProduct" asp-controller="Product" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Название</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UploadedFile" class="control-label">Файл картинки</label><br />
        <input type="file" asp-for="UploadedFile" /><br>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Цена</label>
        <input type="text" asp-for="Price" class="form-control" />
    </div>  
    <div class="form-group">
        <label asp-for="Count" class="control-label">Количество</label>
        <input type="text" asp-for="Count" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category" class="control-label">Категория</label>
        <input type="text" asp-for="Category" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>