@model WebApplication3.Models.Product
@{
}
<div>

    <h5> @Model.Title </h5>
    <p>Цена:<b>@Model.Price</b> </p>
    <p>Описание: @Model.Description</p>
    @if (Model.Count > 0)
    {
        <form method="get" asp-action="BuyProduct" asp-controller="Product" asp-route-id="@Model.Id">
            <div class="form-group">
                <input type="submit" value="Оформить заказ" class="btn btn-outline-secondary" style="color:green" />
            </div>
        </form>
    }

</div>