@model WebApplication3.ViewModels.OrderViewModel

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function () {
        $("#adress-list").autocomplete({
            source: "/Order/Search/"
        });
    });
</script>

<h2>Оформление заказа</h2>
<p>Введите данные, и мы сразу же отправим ваш товар</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label>Имя:</label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Адрес</label><br />
        <input list="adress-list" class="form-control" type="text" asp-for="Adress" />
        <datalist id="adress-list">
            @*@foreach (var product in Model.adressList)
            {
                <option value="@product.AddressName">@product.AddressName + @product.Level.ToString()</option>
            }*@
        </datalist>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Заказать" />
    </div>
</form>


