/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --color-unaccent: #808080
    --color-light: #f8f9fa;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 15px;
    --linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
    --box-shadow: 0 16px 24px 2px rgba(33,37,41,.02), 0 6px 30px 5px rgba(33,37,41,.04), 0 8px 10px -5px rgba(33,37,41,.1);
    --border-radius: 3px;
}

* {
    box-sizing:border-box;
}
a {
    color: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.7;
    background-color: var(--color-light);
  
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.row {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .row {
    height: 1%; 
}

.row {
    display: block;
}
/* close commented backslash hack */

/* Provide sufficient contrast against white background */


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.form-control { 
    height: 38px;
     width: 260px;
}

.granica {
    border-color: #595D72;
    margin-top: 0.5px;
}

.yearUser {
    height: 40px;
    width: 200px;
}

.vbn {
    color:green;
}

.center-div {
    margin: 0 auto;
    width: 100px;
}
.logup {
    position: absolute;
    right: 30px;
    bottom: 16px;
    color: blue;
}

.location {
    position: absolute;
    right:  -550px;
}

.text {
    text-align: left;
    line-height: 28px;
}

#header {
    background-color: #5BBDDE;
}

.logo {
    margin: auto;
}

.logotip {
    display:block;
    margin-right: auto;
    margin-left: auto;
}

.catalog {
    margin-top: 27px;
}

.inner-catalog {
    padding: 20px;
    min-height: 400px;
    border : 1px solid #f2f2f2;
}

.catalog-1 {
    width: 50%;
    float: left;
}

.inner-catalog-1 {
    padding-left: 20px;
    min-height: 400px;
    border-right: 1px solid #f2f2f2;
}

.catalog-2 {
    width: 50%;
    float: left;
}
    
.inner-catalog-2 {
    min-height: 400px;
    padding-left: 20px;
}

.zagalovok-catalog {
    font-size: 20px;
}

.admin-block {
    margin-right: 10px;
    float: left;
}

.admin-block-2 {
    float: left;
}


.admin-flex-containt {
    display: flex;
    justify-content: center;  
    margin-bottom: 10px;
}


.admin-flex-containt-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.admin-element {
    text-align: center;
}

.admin-element-1 {
    margin-right: 10px;
}

.administr-element {
    margin-left: 25px;
    width: 400px;
    height: 170px;  
}

.administr-element-2 {
    width: 100%;
    height: 94.1%;
    border-radius: 4px;
    margin-bottom: 10px;
}

div .administr-element-2:hover {
    border: 2px solid #000;
    box-shadow: 0 0 5px;
}

.administr-element-1 {
    margin-left: 25px;
    width: 400px;
    height: 160px;
    border-radius: 4px;
}

div .first-element-admin {
    margin-left: 0px;
}

.administr-element-1:hover {
    border: 2px solid #000;
    box-shadow: 0 0 5px;
}

div.administr-element-1 > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

div.administr-element-2 > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}


.color-1 {
    background-color: #F1416C;
}

.color-2 {
    background-color: #50CD89;
}
.color-3 {
    background-color: #009EF7;
}

.form-block-inline {
    display: inline;
}

.betwen {
    margin-right: 15px; 
}

.betwen-2 {
    margin-left: 15px;
}

.edit-qua-cart {
    margin-left: auto;
    margin-right: auto;
}

.product-cart {
    font-size:23px;
}   

.bet-admin {
    margin-right: 50%;
}

.nav-link-admin {
    display: block;
    padding: .5rem 1rem;
    color: red;
}

.user-nav {
    margin-right: 50%;
}

.header {
    display: flex;
    justify-content: space-between;
    
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 10px;
    
}

.header-section-1 {
    display: flex;
    align-items: center;
    
}

.header-section-2 {
    display: flex;
    align-items: center;
    
}

.header-item {
    padding: 10px 15px;
    font-size:17px;
    margin-left: 5px;
}

.header-item-first {
    padding: 10px 15px 10px 0px;
    font-size: 17px;
    margin-left: 5px;
}

.header-item-last {
    padding: 10px 0px 10px 15px;
    font-size: 17px;
    margin-left: 5px;
}

.logout {
    color: red;
}

.border-nav {
    padding: 5px;
    border: 1px solid #fff;
}

.cart-nav {
    font-size: 19px;
}

.gr-header {
    margin: 0px 0px 16px 0px;
}

.action-nav {
    margin-left: 30px; 
}

.add-memory {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.text-admin-element {
    padding: 10px 15px 0px 0px;
    color: #fff;
    text-align: end;    
}

div .text-admin-element > p {
    display: inline;
}

.count-element {
    font-size: 35px;
    padding-bottom: 8px;
}

.text-element {
    font-size: 19px;    
}

.img-element {
    font-size: 55px;
}

div .headerButton > a {
    text-decoration: none;
}

div .administr-element-1 > a {
    text-decoration: none;
}

div .administr-element-2 > a {
    text-decoration: none;
}

.color-4 {
    background-color: #8D44AC;
}

.view-product-element {
    font-size: 38px;
}

.order-product-element {
    font-size: 38px;
}

.nav-date-element {
    display: flex;
    justify-content: space-between;
}

.date-element {
   padding: 5px 10px 5px 10px;
}

.date-element:hover {
    background-color: #F5F8FA;
    border-radius: 6px;
}

div .date-element > a {
    text-decoration: none;
    color: #B4B7C5;
}

div .date-element > a:hover {
    color: #009EF7;
}


.nav-inf-product {
    display: flex;
    justify-content: space-between;
}