/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.form-control { 
    height: 30px;
     width: 260px;
}

.logout {
    position: absolute;
    right: 30px;
    bottom: 16px;
    color: red;
}



.list_1_view_part {
    display: none;
}

.list_1_view .list_1_view_part {
    display: inline-block;
    width: 100%;
    text-align: center;
}


.biglist .product-item .pinfo.list_2_view_part {
    display: none;
}

.biglist.list_2_view .product-item .pinfo.list_2_view_part {
    display: inline-block;
}

.biglist.catitemsgrid.list_1_view .item {
    width: 33%;
}

.biglist.list_1_view .product-item .pimage {
    width: 100%;
}

.biglist.list_1_view .product-item {
    border-bottom: 0px;
    padding: 10px 20px;
}


.biglist.list_1_view .item {
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

    .biglist.list_1_view .item:first-child, .biglist.list_1_view .item:nth-child(3n+1) {
        border-left: 1px solid #EEE;
    }

    .biglist.list_1_view .item:first-child, .biglist.list_1_view .item:nth-child(2), .biglist.list_1_view .item:nth-child(3) {
        border-top: 1px solid #EEE;
    }


.list_1_view .list_1_view_part > a.product_name {
    color: #222;
    display: block;
    font-weight: bold;
    letter-spacing: .75px;
    font-size: 15px;
    font-family: Tahoma;
    line-height: 120%;
    max-height: 36px;
    min-height: 36px;
    overflow: hidden;
}

.biglist.list_1_view .product-item:hover .list_1_view_part > a.product_name {
    color: #1976d2;
}

.biglist.list_1_view .product-item .list_1_view_part .pinfo.priceblock {
    text-align: center;
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
}

.list_1_view .list_1_view_part .priceblock .pprice {
    display: block;
    width: 100%;
}

.biglist.list_1_view .product-item .list_1_view_part .pprice > u {
    display: inline-block;
}

.biglist.list_1_view .product-item .list_1_view_part a.buy.button {
    float: none;
    margin-top: 10px;
}

.biglist .product-item .instock {
    margin-top: 10px;
}

    .biglist .product-item .instock b {
        color: #302c76;
        margin-right: 5px;
        margin-left: 5px;
        font-weight: bold;
    }

.granica {
    border-color: #595D72;
}

.yearUser {
    height: 40px;
    width: 200px;
}

.vbn {
    color:green;
}
